<!DOCTYPE html>
<html ng-app="adminApp">
  <head>
    <meta charset="utf-8">
    <title>Dental Login Pages</title>
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  </head>
  <body ng-controller="mainCtrl">
<!-- about.html -->
    <div class="jumbotron text-center">
      <h2>Login Page</h2>
      <p>
        User name: <input type="text" ng-model="username"/> <br/>
        Password: <input type="text" ng-model="password"/> <br/>
        <button ng-click="submit()">submit</button>
      </p>
    </div>

    {{test_string}}

    <script>
    var app = angular.module('adminApp', []);

    app.service('dataService', function($http) {
      //delete $http.defaults.headers.common['X-Requested-With'];
      this.checkLoginInfo = function(idStr, pwdStr, callbackFunc) {
        
        $http.get('/chkDentalLogin', {
          params: {
            id: idStr,
            pwd: pwdStr
            }
          }).success(function(data){
          // With the data succesfully returned, call our callback
          //$scope.test_string = data;
          callbackFunc(data);
          //alert("error");
        }).error(function(){
          //alert("error");
        });
       
      };

    });

    /*
    app.config(['$httpProvider', function($httpProvider) {
      //initialize get if not there
      if (!$httpProvider.defaults.headers.get) {
          $httpProvider.defaults.headers.get = {};    
      }    

      // Answer edited to include suggestions from comments
      // because previous version of code introduced browser-related errors

      //disable IE ajax request caching
      $httpProvider.defaults.headers.get['If-Modified-Since'] = 'Mon, 26 Jul 1997 05:00:00 GMT';
      // extra
      $httpProvider.defaults.headers.get['Cache-Control'] = 'no-cache';
      $httpProvider.defaults.headers.get['Pragma'] = 'no-cache';
    }]);
    */

    app.controller('mainCtrl', function($scope, dataService) {
    //app.controller('mainCtrl', function($scope, $http) {

        $scope.submit = function(){
        
          /*
          var idStr = $scope.username;
          var pwdStr = $scope.password;

            $http.get('/chkAdminLogin', {
              params: {
                id: idStr,
                pwd: pwdStr
                }
                }, {cache: false}).success(function(data){
              // With the data succesfully returned, call our callback
              $scope.test_string = data;
              //callbackFunc(data);
              //alert("error");
            if(data == 'Success')
            {
              //$window.location.href = '/pages/login.html';
              //window.location.assign(basePath + "/login.html");
              //window.location.assign("/pages/login.html");
              //window.location.href = '/pages/login.html';
              window.location.href = '/adminMain' ;
            }
            else
            {
              window.location.href = '/adminLogin' ;
            }
            }).error(function(){
              //alert("error");
            });
          */
        
          var id = $scope.username;
          var pwd = $scope.password;
          
          dataService.checkLoginInfo(id, pwd, function(dataResponse) {

            $scope.test_string = dataResponse;
            if(dataResponse == 'Success')
            {
              //$window.location.href = '/pages/login.html';
              //window.location.assign(basePath + "/login.html");
              //window.location.assign("/pages/login.html");
              //window.location.href = '/pages/login.html';
              //window.location.href = '/adminMain' ;
              window.location.href = '/dentalRouter' ;
            }
            else
            {
              window.location.href = '/dentalLogin' ;
            }

          });
       
        };

    });
/*
    var app = angular.module('adminApp', []);

    app.service('dataService', function($http) {
      //delete $http.defaults.headers.common['X-Requested-With'];
      this.checkLoginInfo = function(callbackFunc) {
        
        $http.get('/checkLoginInfo', {
          params: {
            id: $scope.username,
            pwd: $scope.password
          }.success(function(data){
          // With the data succesfully returned, call our callback
          //$scope.test_string = data;
          callbackFunc(data);
          //alert("error");
        }).error(function(){
          //alert("error");
        });
       
      };

    });

    app.controller('mainCtrl', function($scope, dataService) {
      $scope.submit = function(){
        dataService.checkLoginInfo(function(dataResponse) {

          $scope.test_string = data;

        });
      };
    });
*/
    </script>
  </body>
</html>
