<!-- about.html -->
    <div class="jumbotron text-center">
        <h2>{{ message }}</h2>
        <h2> Title : {{ msg }}</h2>
<p>
    아이디 : <input type="text" ng-model="dentalid"/> <br/>
    비 번 : <input type="text" ng-model="dentalpwd"/> <br/>
    치과명 : <input type="text" ng-model="dentalname"/> <br/>
    원장명 : <input type="text" ng-model="doctorname"/> <br/>
    주 소  : <input type="text" ng-model="address"/> <br/>
    휴대폰 : <input type="text" ng-model="mobile"/> <br/>
    전화번호   : <input type="text" ng-model="tel"/> <br/>
    
    <button ng-click="saveDentalView()">Save View</button>
</p>

    </div>

