      
<!-- about.html -->
    <div class="jumbotron text-center">
        <h2>{{ message }}</h2>
        <h2> Title : {{ msg }}</h2>

    <!--
    <pre>Model: {{asyncMemcode}}</pre>
    <input type="text" ng-model="asyncMemcode" placeholder="member code loaded via $http" uib-typeahead="name for name in getMemCode($viewValue)" typeahead-loading="loadingMemcode" typeahead-no-results="noMemcode" class="form-control">
    -->

    <h4>Asynchronous results</h4>
    <!--
    <pre>Model: {{obj.dentName}}/{{obj.mobile}} </pre>
    <pre>activeName: {{activeName}}</pre>
    <pre>activeCode: {{activeCode}}</pre>
    -->
    <!--
    <input type="text" ng-model="obj" placeholder="Dental Info loaded via $http" uib-typeahead="obj as (obj.dentName + ' / ' + obj.mobile) for obj in getDentalCode($viewValue)" typeahead-loading="loadingMemcode" typeahead-no-results="noMemcode" typeahead-on-select='onSelect($item, $model, $label)' class="form-control">
    <i ng-show="loadingMemcode" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noMemcode">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
    -->
    <input type="text" ng-model="obj" placeholder="Dental Info loaded via $http" typeahead="obj as (obj.dentName + ' / ' + obj.mobile) for obj in getDentalCode($viewValue)" typeahead-loading="loadingMemcode" typeahead-on-select='onSelect($item, $model, $label)' class="form-control">
    <i ng-show="loadingMemcode" class="glyphicon glyphicon-refresh"></i>

<!--
    <h4>testMemcode for typeahead's dropdown</h4>
    <pre>Test Model: {{testMemcode | json }}</pre>
-->
    </div>

    
    <div class="container-fluid">
        
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Dental Name</th>
              <th>Doctor Name</th>
              <th>Address</th>
              <th>Mobile</th>
              <th>Tel</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="obj in objects | filter : paginate">
              <td>{{obj.dentIdx}}</td>
              <td>{{obj.dentName}}</td>
              <td>{{obj.doctName}}</td>
              <td>{{obj.address}}</td>
              <td>{{obj.mobile}}</td>
              <td>{{obj.tel}}</td>
            </tr>
          </tbody>
        </table>
        <pagination total-items="totalItems" ng-model="currentPage"
          max-size="5" boundary-links="true"
          items-per-page="numPerPage" previous-text="<" next-text=">" first-text="<<" last-text=">>" class="pagination-sm">
        </pagination>

    </div>
    
        <p>{{ test_string }}</p>

<!--
<table st-table="rowCollection" class="table">
<thead>
<tr>
	<th st-sort="firstName">first name</th>
	<th st-sort="lastName">last name</th>
	<th st-sort="birthDate">birth date</th>
	<th st-sort="balance">balance</th>
	<th>email</th>
</tr>
</thead>
<tbody>
<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
	<td>{{row.firstName | uppercase}}</td>
	<td>{{row.lastName}}</td>
	<td>{{row.birthDate | date}}</td>
	<td>{{row.balance | currency}}</td>
	<td><a ng-href="mailto:{{row.email}}">email</a></td>
</tr>
</tbody>
</table>
-->
