@charset "uft-8";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

/*****초기화*****/

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: transparent;
}

html, body {
	height: 100%;
}


body{
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #fff;
	color: #333333;
	font-family: "Raleway" , sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

p {
	font-size: 16px;
	line-height: 36px;
}

input {
	padding: 0;
	border: none;
	outline: none;
}

button {
	border: none;
	outline: none;
}

a[data-back-to-contacts] .arrow {
	right: auto;
	left: 0;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 16px;
}

.font-weight-700 {
	font-weight: 700;
}

.text-center {
	text-align: center;
}

.col-xs-12 {
	width: 100%;
}

/*****wrap*****/
.wrap-content {
	padding: 0 0 85px 90px;
	position: relative;
	background: #fff;
	width: 100%;
	overflow: hidden;
}

@media (max-width: 768px){
	.wrap-content {
		padding-left: 64px;
	}
}

/*****오른쪽*****/
.aside {
	width: 90px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index:1;
	background-color: #7bd9d8;
	box-shadow: -8px 0 8px 8px #585B9C;
}

@media (max-width: 768px){
	.aside {
		width: 65px;
		box-shadow: none !important;
	}
}

