@charset "uft-8";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

/*****초기화*****/

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: transparent;
}

html, body {
	height: 100%;
}


body{
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #fff;
	color: #333333;
	font-family: "Raleway" , sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

p {
	font-size: 16px;
	line-height: 36px;
}

input {
	padding: 0;
	border: none;
	outline: none;
}

button {
	border: none;
	outline: none;
}

a[data-back-to-contacts] .arrow {
	right: auto;
	left: 0;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 16px;
}

.font-weight-700 {
	font-weight: 700;
}

.text-center {
	text-align: center;
}

.col-xs-12 {
	width: 100%;
}

/*****wrap*****/
.wrap-content {
	padding: 0 0 85px 90px;
	position: relative;
	background: #fff;
	width: 100%;
	overflow: hidden;
	border:1px solid red;
}

